---
layout: sec_direction
title: Product Stage Direction - Security Risk Management
description: "The Secure Section focuses on identifying security findings within applications and services prior to moving them to operations. Learn more!"
canonical_path: "/direction/security_risk_management/"
---
## On this page
{:.no_toc}

- TOC
{:toc}

<p align="center">
    <font size="+2">
        <b>Proactively identify vulnerabilities and weaknesses to minimize risk</b>
    </font>
</p>

<%= devops_diagram(["Security Risk Management"]) %>

## Stage Overview

### Groups

The SRM stage is made up of four groups:

* Security Infrastructure
* [Security Insights](/direction/security_risk_management/security-insights/17_security_insights_priorities.html) - Holistically view, manage, and reduce potential risks across the entire DevSecOps lifecycle.
* [Security Platform Management](/direction/security_risk_management/security-platform-management/)
* [Security Policies](/direction/security_risk_management/security_policies/) - Apply policies to enforce scans and to require security approvals for MRs when necessary.
